/상권_행정구역_구분
/code/인구분석.ipynb
.env
/data/상가정보/
/data/점수산출/전체건물정보/
/data/서울시 상권분석서비스(추정매출-상권)_2024년.csv
/data/점수산출/도로정보/
/data/시각화/서울_전체_건물_도로_지도.html
/code/visability.ipynb
/data/매물추천/매물_피처병합_수정.csv
/data/매물추천/카페_통합_최종데이터.csv
/data/매물추천/매물_통합.csv
/data/매물추천/카페_피처병합.csv
/data/대용량